<!-- favicons can go here -->
<!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">  -->
<link rel="icon" href="/img/appicons/fader-appicon-32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/img/appicons/fader-appicon-72.png" sizes="72x72" type="image/png">
<link rel="icon" href="/img/appicons/fader-appicon-144.png" sizes="144x144" type="image/png">
<link rel="icon" href="/img/appicons/fader-appicon-180.png" sizes="180x180" type="image/png">
<link rel="icon" href="/img/appicons/fader-appicon-270.png" sizes="270x270" type="image/png">
