{{ partial "slider-work.html" . }}
<!-- Portfolio Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Showcase</h2>
            <p>At a show, concert or music festival, the challenge is how to engage with the audience visually and leave a long-lasting impression. A music stage is more than just big sound system, with a unique stage, Fader delivers a complete Audio Visual experience.</p>
            <p>The stage is a fine art installation in the hands of an experienced designer, where Fader shapes it according to the type of event and audience. The stage can be modern or classic, outdoors or indoors, utilizing LED screens, projectors, lasers and lighting, these building blocks become a masterpiece. </p>
          </div>
        </br>
      </div>
    </div><!-- .col-md-7 close -->
    <div class="col-md-6 col-sm-12">
      <div class="block" >
        <br></br><br><br>
        <img src="../img/portfolio/VJFader-IntroShangHai2016-mainstage3-800x403.jpg" alt="Intro 2016 ShangHai" >
      </div>
    </div><!-- .col-md-5 close -->
  </div>
</div>
</section>
<iframe width="100%" height="600" src="https://www.youtube.com/embed/TsxW3gy_A8M?rel=0?modestbranding=1&autohide=1&showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<br><br><br><br><br><br>
<section id="clients-logo-section">
  <div class="container" padding-bottom="-100px">
    <div padding-bottom="-100px" class="row">
      <h2>From Festivals around the world</h2>

    </div>
    <p>Every show delivers a different message to its audience, a unique stage design is the best way to elevate a festival.</p>
  </div>
</section>
{{ partial "load-photoswipe.html" . }}
{{ partial "gallery2.html" . }}
{{ partial "work-feature.html" . }}
<!-- Clients Logo Section Start -->
<section id="clients-logo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Clients</h2>
        <br><br>
        <div class="block" >
          <div id="clients-logo" class="owl-carousel">
            {{ range .Site.Data.work.clients }}
            <div class="clients-logo-img">
              <a href="{{ .url }}"><img src="{{ $.Site.BaseURL }}{{ .image }}" alt="Features"></a>
            </div>
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<br><br><br><br>
<br><br><br>
{{ if isset .Site.Data.work "call" }}
  {{ partial "call-to-action.html" .Site.Data.work.call }}
{{ end}}
